h1 {
    font-size: 80px;
    font-family: sans-serif;
    padding-left: 20px;
    text-align: center;
}

header {
    justify-content: center;
}

h2 {
    font-size: 50px;
    font-family: sans-serif;
    padding-left: 20px;
    text-decoration: underline;
    padding-top: 20px;
}

#rules {
    margin-left: 20px;
    margin-bottom: 20px;
}

#close {
    
}

#modal1 {
    max-width: 600px;
    position: fixed;
}

p {
    text-indent: 70px;
    line-height: 40px;
    margin: 30px;
    font-size: 20px;
}

.window {
    text-indent: 70px;
    line-height: 40px;
    margin: 30px;
    font-size: 20px;
}

ul {
    font-size: 20px;
}

#modal1::backdrop {
    background: teal;
    opacity: .3;
}